<a href="https://colab.research.google.com/github/akirabira/Assignments/blob/main/sales_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('sales.csv')
df

             Date     Time  ...   Profit     Dispenser
0      31/12/2021  2:21 PM  ...  17920.0  pharouk kaks
1      31/12/2021  2:21 PM  ...   5500.0  pharouk kaks
2      31/12/2021  2:21 PM  ...   1500.0  pharouk kaks
3      31/12/2021  2:21 PM  ...  15000.0  pharouk kaks
4      31/12/2021  2:21 PM  ...   2400.0  pharouk kaks
...           ...      ...  ...      ...           ...
47234  01/12/2021  7:16 AM  ...    700.0    CRISTOPHER
47235  01/12/2021  7:16 AM  ...   1275.0    CRISTOPHER
47236  01/12/2021  7:16 AM  ...   1300.0    CRISTOPHER
47237  01/12/2021  7:16 AM  ...    300.0    CRISTOPHER
47238  01/12/2021  7:16 AM  ...   1500.0    CRISTOPHER

[47239 rows x 8 columns]

In [4]:
#total sales made in December
round(df["Amount"].sum())
"{:,}".format(round(df["Amount"].sum()))

'998,657,002'

In [5]:
#total profit made in December
round(df["Profit"].sum())
"{:,}".format(round(df["Profit"].sum()))

'73,237,752'

In [6]:
#most profitable item
df[["Profit", "Trade Name"]].max()

Profit                526364
Trade Name    zecuf tabs 20s
dtype: object

In [7]:
#least profitable item
df[["Profit", "Trade Name"]].min()

Profit       -2.5833e+06
Trade Name    ALARID E/D
dtype: object

In [8]:
#dispenser with most sales
sales_per_dispenser = df.groupby("Dispenser").sum()
sort = sales_per_dispenser.sort_values(['Amount'], ascending=[False])
dispenser =sort.iloc[0]
print(round(dispenser))

Amount    351389036.0
Profit     22718238.0
Name: CRISTOPHER, dtype: float64

In [9]:
#dispenser with least sales
sort = sales_per_dispenser.sort_values(['Amount'], ascending=[True])
dispenser_1=sort.iloc[0]
print(round(dispenser_1))

Amount    3734667.0
Profit    1012831.0
Name: Mubarak, dtype: float64

In [10]:
# The item that sold in most quantity
sales_per_item = df.groupby(["Trade Name","Quantity"]).sum()
sorted = sales_per_item.sort_values(["Quantity","Trade Name"]).max()
sorted

Amount    8.250000e+06
Profit    5.263636e+05
dtype: float64

In [11]:
#the day with most sales
sales_per_day = df.groupby(["Date"]).sum()
most_sales = sales_per_day.sort_values(["Amount"],ascending=[False])
day= round(most_sales.iloc[0])
day

Amount    78379137.0
Profit     4797378.0
Name: 31/12/2021, dtype: float64